<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pitch.name %>
</p>

<p><input type="text" class="datepicker" onkeydown="return false" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off></p>

<div id="dynamictable" class="col-md-4"></div>
<div id="booking" class="col-md-8"></div>

<div>
  <input type="hidden" id='pitch_id' value='<%= @pitch.id %>'>
  <p id='date'> </p>
</div>

<input type="button" class="btn btn-info" onclick="JSONBack();" value="¡Reserva!" />
