<p id="notice"><%= notice %></p>

<p>
  <strong><%= @pitch.name %></strong>
  <p>
    Seleccione fecha:
  </p>

</p>

<p><input type="text" class="datepicker" onkeydown="return false" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off></p>

<div id="dynamictable" class="col-md-4"></div>
<div id="booking" class="col-md-8"></div>

<div>
  <input type="hidden" id='pitch_id' value='<%= @pitch.id %>'>
  <!-- <p id='date'> </p> -->
</div>

<table>
  <thead>
    Leyenda
  </thead>
  <tbody>
    <tr><td id="desc_libre"></td><td>Libre</td></tr>
    <tr><td id="desc_reservado"></td><td>Reservado</td></tr>
    <tr><td id="desc_otros"></td><td>Otras actividades/Mantenimiento</td></tr>
    <tr><td id="desc_cerrado"></td><td>Cerrado</td></tr>
    <tr><td id="desc_select"></td><td>Selección actual</td></tr>
  </tbody>
</table>



<!-- <input type="button" class="btn btn-info" onclick="JSONBack();" value="¡Reserva!" /> -->
