
#pitch_component{
  //outline: 1px solid orange;
  $row-bg: #eeeeee;


  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  // border-color: black;
  // border: thin solid;
  border-radius: 10px;
  background-color: #eee;
}
#pricey{
  overflow: hidden;
  white-space: nowrap;
}
